/* NAVBAR START */
nav {
  height: var(--nav-height);
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* left nav */
.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: x-large;
  font-weight: 900;
  width: 30%;
  max-width: 370px;
  opacity: var(--opacity-val);
}

.nav-toggle {
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 20px;
  background-color: black;
  margin: 5px 0;
}

.nav-toggle span:nth-child(2) {
  width: 80%;
}

.nav-toggle span:nth-child(3) {
  width: 60%;
}

.nav-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  z-index: 9;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary-color);
}

/* nav logo */
.logo {
  height: var(--nav-height);
  width: var(--nav-height);
  display: flex;
  align-items: center;
}

.logo div {
  width: 100%;
  height: 100%;
}

.logo-left {
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
}

.logo-right {
  background-color: var(--primary-color);
  clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}

/* nav right */

.nav-right {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  max-width: 370px;
}

.nav-right button {
  width: var(--nav-height);
  height: var(--nav-height);
  border: 5px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  opacity: var(--opacity-val);
}

.nav-btns {
  display: flex;
}

button.cart-btn-secondary {
  font-size: medium;
  width: 90px;
  border-radius: 30px;
  background-color: var(--primary-color);
  color: white;
  position: relative;
  right: -3px;
}

button.cart-btn-primary {
  background-color: transparent;
}

.cart-btn-primary img {
  width: 50%;
}

.fav-btn img {
  width: 50%;
  filter: invert(1);
  transform: rotate(-45deg);
}

.profile-btn img {
  width: 50%;
  filter: invert(1);
}

/* NAVBAR END */

/* FOOTER START */
footer {
  /* position: fixed;
  bottom: 0; */
  display: grid;
  grid-template-areas:
    "info tech"
    "langs tech";
  gap: 50px;
  background-color: rgba(217, 217, 217, 0.5);
  margin: 30px -50px -25px -50px;
  padding: 7.5% 15%;
}

.info {
  grid-area: info;
}

.langs {
  grid-area: langs;
}

.tech {
  grid-area: tech;
}

footer h4 {
  font-size: smaller;
  font-weight: normal;
  color: var(--primary-color);
  opacity: var(--opacity-val);
}

footer ul {
  list-style-type: none;
  margin: 30px 0;
}

.tech li {
  font-weight: 900;
  font-size: 3rem;
}

.tech li:nth-child(1) {
  color: var(--secondary-color);
}

.tech li:nth-child(2) {
  text-wrap-mode: nowrap;
}

.tech sup {
  font-size: small;
  font-weight: normal;
  opacity: var(--opacity-val);
  vertical-align: 100%;
  text-wrap-mode: nowrap;
}
/* FOOTER END */

/* Product Card */
.product-card {
    background: transparent;
    width: 330px;
}

.porduct-img {
    position: relative;
}

.product-img img {
    width: 100%;
    display: block;
    background-color: #f1f2f7;
}

.product-img .fav-btn {
    width: 40px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.product-img .fav-btn span {
    display: block;
    transform: rotate(45deg);
    background-color: white;
}

.product-img .fav-btn .favorited::after {
    content: "❤️"; /* filled heart */
    position: absolute;
    left: 0;
}

.product-img .fav-btn span:hover::after {
    content: "❤️"; /* filled heart */
    position: absolute;
    left: 0;
}

.product-img {
    position: relative;
    border: 1px solid var(--secondary-color);
}

.add-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--secondary-color);
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.product-info {
    margin-top: 10px;
    text-align: left;
}

.product-info small {
    display: block;
    font-size: 12px;
    color: var(--main-color);
}

.product-info .product-name {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.product-info h3,
.product-info .price {
    font-size: 14px;
    font-weight: 600;
}
/* End product card */