/* NAVBAR START */
nav {
  height: var(--nav-height);
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* left nav */
.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: x-large;
  font-weight: 900;
  width: 30%;
  max-width: 370px;
  opacity: var(--opacity-val);
}

.nav-toggle {
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.nav-toggle span {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 20px;
  background-color: black;
  margin: 5px 0;
}

.nav-toggle span:nth-child(2) {
  width: 80%;
}

.nav-toggle span:nth-child(3) {
  width: 60%;
}

.nav-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  z-index: 9;
  column-gap: 10px;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary-color);
}

/* nav logo */
.logo {
  height: var(--nav-height);
  width: var(--nav-height);
  display: flex;
  align-items: center;
}

.logo div {
  width: 100%;
  height: 100%;
}

.logo-left {
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
}

.logo-right {
  background-color: var(--primary-color);
  clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}

/* nav right */

.nav-right {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  max-width: 370px;
}

.nav-right button {
  width: var(--nav-height);
  height: var(--nav-height);
  border: 5px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  opacity: var(--opacity-val);
  cursor: pointer;
}

.nav-right a {
  width: var(--nav-height);
  height: var(--nav-height);
  border: 5px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  opacity: var(--opacity-val);
  cursor: pointer;
}

.nav-btns {
  display: flex;
}

a.cart-btn-secondary {
  font-size: medium;
  width: 90px;
  border-radius: 30px;
  background-color: var(--primary-color);
  color: white;
  position: relative;
  right: -3px;
  text-decoration: none;
}

a.cart-btn-primary {
  background-color: transparent;
}

.cart-btn-primary img {
  width: 50%;
}

.fav-btn img {
  width: 50%;
  filter: invert(1);
  transform: rotate(-45deg);
}

.profile-btn img {
  width: 50%;
  filter: invert(1);
}

/* NAVBAR END */

/* FOOTER START */
footer {
  /* position: fixed;
  bottom: 0; */
  display: grid;
  grid-template-areas:
    "info tech"
    "langs tech";
  gap: 50px;
  background-color: rgba(217, 217, 217, 0.5);
  margin: 30px -50px -25px -50px;
  padding: 7.5% 15%;
}

.info {
  grid-area: info;
}

.langs {
  grid-area: langs;
}

.tech {
  grid-area: tech;
}

footer h4 {
  font-size: smaller;
  font-weight: normal;
  color: var(--primary-color);
  opacity: var(--opacity-val);
}

footer ul {
  list-style-type: none;
  margin: 30px 0;
}

.tech li {
  font-weight: 900;
  font-size: 3rem;
}

.tech li:nth-child(1) {
  color: var(--secondary-color);
}

.tech li:nth-child(2) {
  text-wrap-mode: nowrap;
}

.tech sup {
  font-size: small;
  font-weight: normal;
  opacity: var(--opacity-val);
  vertical-align: 100%;
  text-wrap-mode: nowrap;
}
/* FOOTER END */
