<nav>
    <div class="nav-container">
    <div class="nav-left">
        <button class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
        </button>

        <ul class="nav-links">
        <li>
            <a href="#index.html">Home</a>
        </li>
        <li>
            <a href="#">Collections</a>
        </li>
        <li>
            <a href="#">New</a>
        </li>
        </ul>
    </div>

    <div class="logo">
        <div class="logo-left"></div>
        <div class="logo-right"></div>
    </div>

    <div class="nav-right">
        <button class="fav-btn">
        <img src="./assets/icons/fav.png" alt="">
        </button>
        <div class="nav-btns">
        <button class="cart-btn-secondary">Cart</button>
        <button class="cart-btn-primary">
            <img src="./assets/icons/shopping-bag.png" alt="">
        </button>
        </div>
        <button class="profile-btn">
        <img src="./assets/icons/profile.png" alt="">
        </button>
    </div>
    </div>
</nav>