<nav>
    <div class="nav-container">
        <div class="nav-left">
            <button class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <ul class="nav-links">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../products.html">Products</a>
                </li>
                <li>
                    <a href="../favorites.html">Favorites</a>
                </li>
            </ul>
        </div>

        <div class="logo">
            <div class="logo-left"></div>
            <div class="logo-right"></div>
        </div>

        <div class="nav-right">
            <a href="../favorites.html" class="fav-btn">
                <img src="./assets/icons/fav.png" alt="" />
            </a>
            <div class="nav-btns">
                <a href="../cart.html" class="cart-btn-secondary">Cart</a>
                <a href="../cart.html" class="cart-btn-primary">
                    <img src="./assets/icons/shopping-bag.png" alt="" />
                </a>
            </div>
            <a href="#" class="profile-btn">
                <img src="./assets/icons/profile.png" alt="" />
            </a>
        </div>
    </div>
</nav>
